body {
    max-width: 1200px;
    background: rgb(29, 29, 29);
    color: white;
    margin: 0 auto;
    font-family: sans-serif;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.heading {
    line-height: 5px;    
    padding: 20px;
}

.heading h1 {
    font-size: 2em;
}

.heading p {
    font-size: 2em;

}

.menu {
    display: flex;
    list-style: none;

}
.menu li, a{
    margin: 20px 0;
    padding: 0 10px;
    color: white;
    font-size: 20px;    
    text-decoration: none;
    transition: 1s;
}
.menu li:hover {
    color: rgb(185, 11, 185);
}
a:nth-child(5) {
    border: 3px solid rgb(153, 0, 153);
    border-radius: 20px;


}
a:nth-child(5):hover {
    box-shadow: 0px 0px 10px rgba(182, 6, 182, 0.671);
    transition: 1s;
    
}




main {
    display: flex;
    margin-top: 50px;
 

}

.main-title > h2 {
  font-size: 3.5em;
    line-height: 10px;
}
.main-title > h2:nth-child(1) {
    color: rgb(153, 0, 153);

}  
form {
    display: flex;
    flex-direction: column;
    width: 350px;


}
form input:nth-child(1), input:nth-child(2) {
    margin-bottom: 15px;
        padding: 15px;
        border-radius: 15px;
        border: none;

}
form input:nth-child(3) {
    border: none;
    width: 150px;
    padding: 15px;
    border-radius: 15px;
    background: rgb(153, 0, 153);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

form input:nth-child(3):hover {
    transform: translate(5px);
    transition: 1s;
}


